@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

body {
  font-family: 'Urbanist', sans-serif;
  font-weight: 100;
}

p {
  letter-spacing: 1.25px;
}
h1.display-1,
h1.display-2,
h1.display-3,
h1.display-4 {
  font-family: 'Beth Ellen', cursive;
}

.btn,
.nav-btn {
  /* border-radius: 50px; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  letter-spacing: 1px;
}
.btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-width: 2px;
}
.btn .mdi {
  vertical-align: middle;
  margin-right: 0.5rem;
}
.nav-item .btn.nav-btn {
  margin-left: 1rem !important;
}

.text-primary {
  color: #386419 !important;
}
.btn-primary {
  background-color: #386419;
  border-color: #386419;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: transparent;
  color: #386419;
  border-color: #386419;
}

.navbar {
  padding: 1.5rem 1rem;
}
.navbar-brand {
  font-weight: 100;
  letter-spacing: 1px;;
}
.navbar-brand strong {
  font-weight: 600;
}

.nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.nav-btn {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mw-50p {
  max-width: 50%;
}
.mh-100 {
  min-height: 100%;
}

.index-1 {
  z-index: 1;
}

.wrapper--banner h2 {
  font-weight: 200;
}
.wrapper--banner hr {
  border-color: #ffffff;
  opacity: 0.5;
}


.banner--background {
  background-image: url(../images/banner-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner--overlay {
  background-image: linear-gradient(to top right, rgba(35,83,0, 1), rgba(255,255,255, 0.5));
}

[class^="wrapper--"] {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.wrapper--features {
  background-color: #E9EDE5;
}

.wrapper--features .mdi {
  font-size: 36px;
  background: -webkit-linear-gradient(rgb(189,203,178), rgb(56,100,25));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper--features h6,
.wrapper--infomative h6,
.wrapper--newsletter h6,
.wrapper--contact h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.wrapper--features p {
  font-size: 13px;
  line-height: 1.75;
}


.wrapper--infomative hr {
  border-color: #235300;
  opacity: 0.25;
}
.wrapper--infomative h2,
.wrapper--newsletter h2 {
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 2rem;
}

.wrapper--testimonial .testimonial {
  border: 2px solid rgba(35,83,0, 0.25);
  padding: 2rem;
  text-align: center;
  position: relative;
}
.wrapper--testimonial .testimonial .ratings {
  color: #386419;
  background-color: #ffffff;
  padding: 0 0.5rem;
  position: absolute;
  top: -20px;
  right: 5%;
}
.wrapper--testimonial .testimonial h6 {
  text-transform: uppercase;
  color: #386419;
  background-color: #ffffff;
  padding: 0 0.5rem;
  position: absolute;
  bottom: -18px;
  left: 5%;
}

.wrapper--more-features {
  position: relative;
  overflow: hidden;
}

.wrapper--more-features img {
  position: absolute;
  right: -45%;
  height: auto;
  top: -15%;
  z-index: 0;
}

.wrapper--contact {
  padding: 0;
}

.wrapper--contact .col {
  padding: 6rem 0;
  border-left: 2px solid rgba(35,83,0, 0.25);
}

.wrapper--contact h6 {
  margin-top: 1rem;
  color: #386419;
  font-size: 14px;
  margin-left: 4rem;
  margin-top: -2rem;
}
.wrapper--contact .icon {
  background-color: #ffffff;
  border: 2px solid rgba(35,83,0, 0.25);
  padding: 1.15rem 1rem;
  border-radius: 50%;
  margin-left: -2rem;
}
.wrapper--contact .icon .mdi {
  color: #386419;
  vertical-align: middle;
}

.wrapper--newsletter {
  background-color: #BDCBB2;
  /* background-image: linear-gradient(to top, rgba(35,83,0, 1), rgba(255,255,255, 0.5)); */
}

.wrapper--gallery.gallery-1 {
  position: relative;
  min-height: 50vh;
  background-image: url(../images/gallery-1.jpg);
  background-position: center 70%;
}
.gallery--overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(35,83,0, 0.25);
}

.wrapper--newsletter .input-group .form-control {
  background-color: transparent;
  border-radius: 50px 0 0 50px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-width: 2px;
  border-color: #386419;
  border-right: 0;
}

.wrapper--newsletter .input-group .btn {
  border-radius: 50px;
  margin-left: -1rem;
}

.wrapper--newsletter .input-group .form-control::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.wrapper--newsletter .input-group .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.wrapper--newsletter .input-group .form-control::placeholder {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}